.signUp {
  margin: 0;
  width: 198px;
  position: relative;
  font-size: inherit;
  letter-spacing: -2px;
  line-height: 65px;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  white-space: nowrap;
}
.inputName {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-53xl);
}
.toGetStarted {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-lgi);
  letter-spacing: -0.2px;
  line-height: 32px;
  color: var(--color-tan-100);
  mix-blend-mode: normal;
}
.frameWrapper,
.inputNameParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.inputNameParent {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-15xl);
}
.frameWrapper {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-9xs) 0 var(--padding-9xs-5);
  box-sizing: border-box;
}
.bg,
.label {
  position: relative;
}
.bg {
  width: 351px;
  height: 582px;
  border-radius: var(--br-3xs);
  background-color: var(--white);
  box-shadow: 0 34px 33px -23px rgba(22, 28, 45, 0.13);
  border: 1px solid var(--color-whitesmoke-200);
  box-sizing: border-box;
  display: none;
  max-width: 100%;
}
.label {
  letter-spacing: -0.1px;
  line-height: 26px;
  display: inline-block;
  min-width: 67px;
  z-index: 1;
}
.bgBorder,
.bgSolid {
  border-radius: var(--br-5xs);
}
.bgSolid {
  height: 50px;
  width: 300px;
  position: relative;
  background-color: var(--white);
  display: none;
  z-index: 0;
}
.bgBorder {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: -1px;
  bottom: -1px;
  left: 0;
  border: 1px solid var(--color-whitesmoke-200);
  box-sizing: border-box;
  z-index: 1;
}
.inputName1 {
  flex: 1;
  position: relative;
  letter-spacing: -0.1px;
  line-height: 26px;
  mix-blend-mode: normal;
  z-index: 2;
}
.inputBox {
  align-self: stretch;
  border-radius: var(--br-5xs);
  background-color: var(--white);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-xs) var(--padding-xl) var(--padding-xs)
    var(--padding-lg);
  position: relative;
  z-index: 1;
  color: var(--color-tan-100);
}
.inputBox,
.inputLabelBG,
.labelParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.labelParent {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-6xs);
}
.inputLabelBG {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-12xs);
}
.bg1 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-10xs);
  background-color: var(--secondary);
  width: 100%;
  height: 100%;
  display: none;
}
.checkSmallIcon {
  position: absolute;
  top: 6px;
  left: 9.8px;
  width: 19.7px;
  height: 6.7px;
  z-index: 1;
}
.rememberMeLabel {
  width: 37.4px;
  height: 19px;
  position: relative;
  border-radius: var(--br-10xs);
  background-color: var(--secondary);
  flex-shrink: 0;
  debug_commit: 1cbd860;
}
.checkmarkSymbol {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0 0;
}
.rememberMe {
  width: 222px;
  position: relative;
  letter-spacing: -0.1px;
  line-height: 26px;
  display: inline-block;
  flex-shrink: 0;
  debug_commit: 1cbd860;
}
.inputradio01,
.inputradio01Wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.inputradio01 {
  width: 250.1px;
  overflow: hidden;
  flex-shrink: 0;
  gap: 13.799999999999272px;
  z-index: 1;
}
.inputradio01Wrapper {
  padding: 0 0 var(--padding-7xs);
}
.rectangle {
  height: 59px;
  width: 300px;
  position: relative;
  border-radius: var(--br-5xs);
  background-color: var(--secondary);
  display: none;
}
.buttonName {
  flex: 1;
  position: relative;
  letter-spacing: -0.6px;
  line-height: 32px;
  z-index: 1;
}
.bgParent,
.button1,
.buttonContainer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.button1 {
  flex: 1;
  border-radius: var(--br-5xs);
  background-color: var(--secondary);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-smi) 0 var(--padding-sm);
  white-space: nowrap;
  z-index: 1;
}
.bgParent,
.buttonContainer {
  align-self: stretch;
}
.buttonContainer {
  flex-direction: row;
  padding: 0 var(--padding-12xs);
  text-align: center;
  font-size: var(--font-size-mid);
  color: var(--white);
}
.bgParent {
  border-radius: var(--br-3xs);
  background-color: var(--white);
  box-shadow: 0 34px 33px -23px rgba(22, 28, 45, 0.13);
  border: 1px solid var(--color-whitesmoke-200);
  box-sizing: border-box;
  flex-direction: column;
  padding: var(--padding-2xl) var(--padding-4xl) var(--padding-11xl);
  gap: var(--gap-xl);
  max-width: 100%;
}
.alreadyHaveAn {
  flex: 1;
  position: relative;
  letter-spacing: -0.2px;
  line-height: 29px;
}
.frameGroup,
.helpLink {
  align-self: stretch;
  justify-content: flex-start;
}
.helpLink {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 var(--padding-11xl);
  text-align: center;
  font-size: var(--font-size-mid);
  color: var(--color-gray-700);
}
.frameGroup {
  flex-direction: column;
  gap: var(--gap-7xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-mini);
}
.frameGroup,
.frameParent,
.inputBoxBG,
.signup {
  display: flex;
  align-items: flex-start;
}
.frameParent {
  width: 350px;
  flex-direction: column;
  justify-content: flex-start;
  gap: 55px;
  max-width: 100%;
}
.inputBoxBG,
.signup {
  box-sizing: border-box;
}
.inputBoxBG {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl);
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-41xl);
  color: var(--secondary);
  font-family: var(--font-gilroy);
}
.signup {
  width: 100%;
  position: relative;
  background-color: var(--black);
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 0 141px;
  gap: 37px;
  letter-spacing: normal;
}
@media screen and (max-width: 750px) {
  .signUp {
    font-size: var(--font-size-29xl);
    line-height: 52px;
  }
  .signup {
    gap: 18px 37px;
  }
}
@media screen and (max-width: 675px) {
  .bgParent {
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .signUp {
    font-size: var(--font-size-17xl);
    line-height: 39px;
  }
  .inputName {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .inputNameParent {
    gap: 17px 34px;
  }
  .frameParent {
    gap: 27px 55px;
  }
}
