.mdiaccountIcon {
  width: 32px;
  height: 32px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.b {
  width: 104px;
  font-size: var(--font-size-11xl);
  text-transform: uppercase;
  display: inline-block;
}
.b,
.div,
.support {
  position: relative;
}
.div {
  width: 64px;
  display: inline-block;
  min-width: 64px;
}
.support {
  align-self: stretch;
  flex: 1;
  line-height: 100%;
}
.mdiaccountParent,
.supportWrapper {
  display: flex;
  align-items: center;
  box-sizing: border-box;
}
.supportWrapper {
  width: 92px;
  height: 30px;
  border-radius: var(--br-base);
  background-color: var(--color-lavenderblush);
  flex-direction: row;
  justify-content: center;
  padding: var(--padding-7xs) var(--padding-xs);
  opacity: 0;
  color: var(--color-darkred);
}
.mdiaccountParent {
  height: 159px;
  width: 300px;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 var(--padding-xl);
  gap: var(--gap-smi);
  text-align: center;
  font-size: var(--text-body-size);
  color: var(--white);
  font-family: var(--font-inter);
}
@media screen and (max-width: 750px) {
  .b {
    font-size: var(--font-size-5xl);
  }
}
@media screen and (max-width: 450px) {
  .b {
    font-size: var(--text-body-size);
  }
}
